.snakeIMG {
  float: center;
  border-radius: 30px;
  border: 4px solid #168fac;
  width: 400px;
  opacity: 20%;
}

.bwaIMG {
  width: 400px;
}

.mt-4 {
  margin-top: 4em;
}
.chamoIMG {
  float: center;
  border-radius: 30px;
  border: 4px solid #168fac;
  width: 550px;
}

.virtuozIMG {
  border-radius: 30px;
  border: 4px solid #168fac;
  width: 400px;
  float: right; 
  margin: 0 5em; 
  width: 85%;
}

.snakeIMG:hover {
  opacity: 100%;
}


.TitreAlt {
  color: #606060;
  font-size: 1.4em;
}

.titrePage {
  color: white;
  font-size: 3em !important;
}

.titrePort {
  font-size: 1.7em;
  font-weight: bold;
  color: #ebebeb;
  margin-bottom: 0.4em;
}

.toContact {
  margin-bottom: 0;
  position: relative;
  color: white; 
  font-size: 2em !important;
}

.typeProj {
  font-weight: 10;
	font-size: 0.8em;
	color: #777;
}
/* .toContact:hover span{
  position: absolute;
  animation-name: moveright;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
} */
@media screen and (min-width: 1680px) {
.triangleBleu {
  display: inline-block;
  height: 0em;
  width: 0;
  border-top: 2em solid #168fac;
  border-right: 3em solid transparent;
  border-bottom: none !important;
  margin: 0em 0em 0em 20.7em !important;
}
}

@media screen and (min-width: 1280px) and (max-width: 1680px)  {
  .triangleBleu {
    display: inline-block;
    height: 0em;
    width: 0;
    border-top: 2.2em solid #168fac;
    border-right: 3.5em solid transparent;
    border-bottom: none !important;
    margin: 0em 0em 0em 22.3em !important;
  }
  }
/* TIME LINE */

#timeline {
  list-style: none;
  margin: 50px 0 30px 10%;
  padding-left: 30px;
  border-left: 8px solid #ebebeb;
  border-style: dashed;
}

#timeline li {
  margin: 40px 0;
  position: relative;
}

#timeline p {
  margin: 0 0 15px;
}

.descTime {
  color: #b8b8b8;
  font-size: 0.8em;
  margin-left: 1em;
}

.frisedate {
  margin-top: -10px;
  top: 50%;
  left: -100px;
  font-size: 1em;
  line-height: 20px;
  position: absolute;
}

.frisecircle {
  margin-top: -10px;
  top: 50%;
  left: -44px;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 5px solid  #20a7d4;
  border-radius: 50%;
  display: block;
  position: absolute;
}

.frisecontent {
  max-height: 20px;
  padding: 50px 20px 0;
  border-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-radius: 1em;
  position: relative;
}

.frisecontent:before, .frisecontent:after {
  content: "";
  width: 0;
  height: 0;
  border: solid transparent;
  position: absolute;
  pointer-events: none;
  right: 100%;
}

.frisecontent:before {
  border-right-color: inherit;
  border-width: 20px;
  top: 50%;
  margin-top: -20px;
}

.frisecontent:after {
  border-right-color: #ffffff;
  border-width: 17px;
  top: 50%;
  margin-top: -17px;
}

.frisecontent p {
  max-height: 0;
  color: #6e6e6e !important;
  font-size: 1.3em ;
  color: transparent;
  text-align: justify;
  word-break: break-word;
  hyphens: auto;
  overflow: hidden;
}

label {
  color: #20a7d4;
  font-size: 1.3em;
  position: absolute;
  z-index: 100;
  top: 20px;
  -webkit-transition: -webkit-transform 0.2s linear;
}

label:hover {
  color: #000000;
  cursor: pointer;
}
.friselabel {
  font-weight: normal;
  border: none;
  }

.friseradio {
  display: none;
}

.friseradio:checked + .friserelative label {
  cursor: auto;
  -webkit-transform: translateX(42px);
}

.friseradio:checked + .friserelative .frisecircle {
  background:    #3ebae4;
}

.friseradio:checked ~ .frisecontent {
  max-height: 180px;
  border-color: #6bdaff;
  margin-right: 20px;
  -webkit-transform: translateX(20px);
  -webkit-transition: max-height 0.4s linear, border-color 0.5s linear, -webkit-transform 0.2s linear;
}

.friseradio:checked ~ .frisecontent p {
  max-height: 200px;
  color: #1b1b1b;
  -webkit-transition: color 0.3s linear 0.3s;
}
/* FIN TIMELINE*/


/* FLOAT EFFECT */



@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}


.iconefloat {
  color: #7cd16d;
  font-size: 2em;
	overflow: hidden;
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

/* P SMALLER */




/* TEXT FLOATING ICON */

@keyframes moveleft {
  0%{
      transform: translate(0px);
  }
  50%{
      transform: translate(10px);
  }
  100%{
      transform: translate(0px);
  }
}
@keyframes moveright {
  0%{
      transform: translate(0px);
  }
  50%{
      transform: translate(-10px);
  }
  100%{
      transform: translate(0px);
  }
}
.theme-details .we-install {
  font-size: 17px;
}

/* .we-install::before {
  content: "<";
}

.we-install::after {
  content: ">";
} */

.we-install a {
  border-bottom: 1px solid;
  text-decoration: none;
  position: relative;
}
.we-install a:hover {
  animation-play-state: paused;
}
.we-install:hover a:before {
  content: "<";
  position: absolute;
  left: -5%;
  animation-name: moveright;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
.we-install:hover a:after {
  content: ">";
  position: absolute;
  animation-name: moveleft;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}